h1 {
    r: red;
}
h1 {
 
    background-color: red;
    font-size: 24px;
    border: 1px solid powderblue;
}

body h1 + p .specia {
    background-color: purple;
    font-size: 150px;
}
p {
    font-size: 50px;
}
h1 {
    border: 5px solid black;
  }
  
h1 {
    align-content: center;
    padding: 10px 25px 15px 5px;
    width: calc(1000% - 30px);
    background-color: rebeccapurple;
    color: white;
  }
  body {
    background-color: pink;
  }
  
  @media (min-width: 30px) {
    body {
      background-color: blue;
    }
  }