   button  {
            background: #008EB0;
            /* Синий цвет фона */
            color: #fff;
            /* Белый цвет текста */
            border: none;
            /* Убираем рамку */
            padding: 1rem 1.5rem;
            /* Поля вокруг текста */
            margin-bottom: 1rem;
            /* Отступ снизу */
            
        }
        
        .huyishka {
            background-color: black;
        }

        .huy {
            background: #73A353;
        }

        .peacyun {
            background: #C1172C;
        }

        .martishka {
            background: #F7941E;
        }
